## backlog を設定するためだけのバーチャルホスト

server {
    server_name backlog.example.com;

{% for item in nginxv3_merged_backlog %}
    listen {{ item.ip_and_port | string }} {{ ('backlog=' ~ (item.backlog | string)) | indent(4) }};
{% endfor %}

    ssl_certificate     /etc/nginx/ssl/dummy_example_com/rsa/fullchain.pem;
    ssl_certificate_key /etc/nginx/ssl/dummy_example_com/rsa/privkey.pem;

    return 444;
}
